<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %} Flask {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello World!</h1>
</div>
<div class="page-header">
    <h1>Hello,{% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>初次见面，请多指教！</p>
    {% else %}
    <p>Nice to meet you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}

{% endblock %}