{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if known %}
    <p>Happy to see you again!</p>
    {% else %}
    <p>Please to meet you!</p>
    {% endif %}
</div>
<p>当地时间为{{ moment(current_time).format('LLL') }}</p>
<p>已经过去了{{ moment(current_time).fromNow(refresh=True) }}</p>
{{ wtf.quick_form(form) }}
{% endblock %}


